<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="emp" class="com.cts.Employee" scope="prototype" autowire="default">
		<property name="id" value="100" />
		<property name="name" value="abc" />
		<property name="salary" value="50000" />
	    <property name="bank">
	    	<bean class="com.cts.SbiBank"/>
	    </property>	     
	    
	</bean>

	
	
	<bean id="hdfcbank" class="com.cts.HdfcBank">

	</bean>
	

</beans>


